---
## ds-repltest config file

Logging:
  # Must be "syslog" or "file"
  TYPE: 'syslog'
  # Syslog Facility
  SYSLOG_FAC: 'syslog'
  # Minimum Log Level ('CRITICAL', 'ERROR', 'WARNING', 'INFO', 'DEBUG')
  # Suggested: DEBUG or INFO
  LOG_LEVEL: 'DEBUG'
  # Syslog socket
  SYSLOG_SOCKET: '/dev/log'
  # File dir
  LOGFILE_DIR: "/var/log/ds-repltest"
  # File name
  LOGFILE_NAME: "ds-repltest.log"
  # Log to stdout too (true/false)
  # When you run on systemd, set to "false".
  LOGSTDOUT: true

Email:
  SEND: false
  USER: name
  PWD: password
  SERVER: localhost
  PORT: 587
  STARTTLS: true
  FROM: postmaster@example.com
  TO:
    - user1@example.com
    - user2@example.com
  BODYTEXT: |
    Hello,

      some errors occur during last replica check.
    See at the error log and the last web report, if available.

    Warm Regards.

    	Ds-Repltest

Web:
  HOST: 0.0.0.0
  PORT: 8080


INSTANCES:
  rupar:
    balancer:
      protocol: ldap
      host: balancer.ldap.com
      port: 389
      basedn: c=en
      bind: cn=directory manager
      pwd: password
    suffixes:
      'c=en':
        ldap01.example.com:
          replica:
            - ldap02.example.com: null
            - ldap03.example.com: null
            - scheduledldap.example.com: cn=ldap 1-->sched1,cn=replica,cn=c\=en,cn=mapping tree,cn=config
          port: 389
          protocol: ldap
          bind: cn=directory manager
          pwd: password
        ldap02.example.com:
          replica:
            - ldap01.example.com: null
            - ldap03.example.com: null
          port: 389
          protocol: ldap
          bind: cn=directory manager
          pwd: password

# Operation Timeout
TIMEOUT: 10
# Waiting time after ADD or DELETE to allow replica.
TIMEWAIT: 10
# Additional waiting time for replica in "send update now" mode (not always in-synch)
UPDATE_TIMEWAIT: 120

# Entry for test purpose
TEST_ENTRY:
  objectClass:
    - "groupofuniquenames"
    - "top"
  cn: "Elettrogeno"
  description: "Test Entry created by ds-repltest"
